/* ******************************* BASE STYLES ****************************** */

* {
  box-sizing: border-box;
}

body {
  @include flexy($fdir: column);
  min-height: 100vh;
  // sticky footer

  font-family: "Roboto", sans-serif;
  font-size: 1em;

  color: #51575b;
}

.wrapper {
  flex: 1;
  @include center();
  @media #{$break-l} {
    max-width: 1140px;
  }
}

img {
  max-width: 100%;
}
